UISwitch/UISwitch.xcodeproj/project.xcworkspace/xcuserdata/amanzhanzharkynuly.xcuserdatad/UserInterfaceState.xcuserstate
UISwitch/UISwitch.xcodeproj/xcuserdata/amanzhanzharkynuly.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
UISwitch/UISwitch.xcodeproj/xcuserdata/amanzhanzharkynuly.xcuserdatad/xcschemes/xcschememanagement.plist
